@model ProductListVM

@{ ViewData["Title"] = "Index";
                int counter = (ViewBag.PageIndex - 1) * 6;
                var temp = -1;
                if (ViewBag.PageIndex == 1)
                {
                    temp = 0;
                }
                if (temp == ViewBag.TotalPages)
                {
                    temp = -2;
                } }

<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area bg-img" data-bg="assets/img/banner/breadcrumb-banner.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap text-center">
                        <nav aria-label="breadcrumb">
                            <h1 class="breadcrumb-title">shop</h1>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">shop</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- page main wrapper start -->
    <div class="shop-main-wrapper section-padding">
        <div class="container">
            <div class="row">
                <!-- sidebar area start -->
                <div class="col-lg-3 order-2 order-lg-1">
                    <div class="sidebar-wrapper">
                        
                        <!-- Category Sidebar-->
                        <div class="sidebar-single">
                            <div class="sidebar-title">
                                <h3>Categories</h3>
                            </div>
                            <div class="sidebar-body">
                                <ul class="category-list">
                                    @foreach (Category category in Model.Categories)
                                    {
                                        <li>
                                            <div class="form-check">
                                                <input form="filterForm" class="form-check-input categoryfilter" @(ViewBag.CategoryId == category.Id ? "checked" : "") name="categoryId" type="radio" value="@category.Id" id="category-@category.Id" />
                                                <label class="form-check-label" for="category-@category.Id">@category.Name (@category.Products.Count())</label>
                                             </div>
                                         </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- single sidebar end -->
                        <!-- single price slider start -->
                        
                        <!-- single sidebar end -->
                        <!-- single sidebar start -->
                        <div class="sidebar-single">
                            <div class="sidebar-title">
                                <h3>Colors</h3>
                            </div>
                            @foreach (Color color in Model.Colors)
                            {
                                <div class="form-check">
                                <input form="filterForm" name="colorIds" @((Model.FilterColorIds != null && Model.FilterColorIds.Contains(color.Id)) ? "checked" : "") class="form-check-input colorfilter" type="checkbox" value="@color.Id" id="color-@color.Id" />
                                <label class="form-check-label" for="tag-@color.Id">@color.Name</label>
                                </div>
                             }
                        </div>
                        <div class="sidebar-single">
                            <div class="sidebar-title">
                                <h3>Sizes</h3>
                            </div>
                            @foreach (Size size in Model.Sizes)
                            {
                                <div class="form-check">
                                <input form="filterForm" name="sizeIds" @((Model.FilterSizeIds != null && Model.FilterSizeIds.Contains(size.Id)) ? "checked" : "") class="form-check-input sizefilter" type="checkbox" value="@size.Id" id="color-@size.Id" />
                                <label class="form-check-label" for="tag-@size.Id">@size.Name</label>
                                </div>
                             }
                        </div>
                        <div class="single-block">
                            <form id="filterForm" asp-action="index" method="get">
                            </form>

                            <div class="sidebar-single">
                                <input type="hidden" form="filterForm" name="minPrice" id="minPriceInput" />
                                <input type="hidden" form="filterForm" name="maxPrice" id="maxPriceInput" />

                                <div class="sidebar-title">
                                    <h3>filter by price</h3>
                                </div>
                                <div class="sidebar-body">
                                    <div class="price-range-wrap">
                                        <div class="price-range" data-min="20" data-max="400"></div>
                                        <div class="range-slider">
                                            <form form="filterForm">
                                                <div class="price-input">
                                                    <label for="amount">Price: </label>
                                                    <input type="text" id="amount">
                                                </div>
                                                <button form="filterForm" type="submit" class="filter-btn">filter</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- sidebar area end -->
                <!-- shop main wrapper start -->
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="shop-product-wrapper">
                        <!-- shop product top wrap start -->
                        <div class="shop-top-bar">
                            <div class="row">
                                <div class="col-xl-5 col-lg-4 col-md-3 order-2 order-md-1">
                                    <div class="top-bar-left">
                                        <div class="product-view-mode">
                                            <a class="active" href="#" data-target="grid-view"><i class="fa fa-th"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-7 col-lg-8 col-md-9 order-1 order-md-2">
                                    <div class="top-bar-right">
                                        <div class="product-amount">
                                            <p>Showing @(counter+1)–@(Model.Products.Count+counter) of @ViewBag.TotalProducts results</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- shop product top wrap start -->
                        <!-- product item list start -->
                        <div class="shop-product-wrap grid-view row mbn-50">
                            @foreach (Product product in Model.Products)
                            {
                                counter++;
                            <div class="col-lg-4 col-sm-6">
                                <div class="product-item mb-50">
                                    <div class="product-thumb">
                                        <a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@product.Id">
                                            <img src="~/user/assets/img/product/@product.MainImage" alt="">
                                        </a>
                                    </div>
                                    <div class="product-content">
                                        <h5 class="product-name">
                                            <a asp-controller="Product" asp-action="ProductDetail" asp-route-id="@product.Id">@product.Title</a>
                                        </h5>
                                        <div class="price-box">
                                            @if (product.DiscountPrice != null)
                                            {
                                                <span class="price-regular">$@product.DiscountPrice</span>
                                                <span class="price-old"><del>$@product.Price</del></span>
                                             }
                                            else
                                             {
                                              <span class="price-regular">$@product.Price</span>
                                             }

                                        </div>
                                        <div class="product-action-link">
                                            <a href="#" data-toggle="tooltip" title="Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                            <a class="productdetail" data-toggle="modal" data-target="#productQuickModal" asp-controller="Product" asp-action="DetailModal" asp-route-id="@product.Id">
                                                <span data-toggle="tooltip"
                                                      title="Quick View"><i class="ion-ios-eye-outline"></i></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            }
                        </div>
                        <!-- product item list end -->
                        <!-- start pagination area -->
                        <div class="paginatoin-area text-center mt-45">
                            <ul class="pagination-box">
                                @if (ViewBag.PageIndex > 1)
                                {
                                     <li><a class="Previous" href="@Url.Action("index","Product",new {page=1,categoryId = ViewBag.CategoryId,colorIds = ViewBag.ColorIds,sizeIds=ViewBag.sizeIds,minPrice=ViewBag.FilterMinPrice, maxPrice=ViewBag.FilterMaxPrice })"><i class="ion-ios-arrow-left"></i></a></li>}

                                @for (int i = 1; i <= 3; i++, temp++)
                                {
                                    if ((ViewBag.PageIndex + temp) != 0 && (ViewBag.PageIndex + temp) != -1)
                                    {
                                        <li class="@(ViewBag.PageIndex+temp==ViewBag.PageIndex?"active":"")">
                                            <a href="@Url.Action("index","Product",new { sizeIds = ViewBag.sizeIds, page=ViewBag.PageIndex+temp,categoryId = ViewBag.CategoryId,colorIds = ViewBag.ColorIds,minPrice=ViewBag.FilterMinPrice, maxPrice=ViewBag.FilterMaxPrice})" style="display:@((ViewBag.PageIndex+temp)>ViewBag.TotalPages?"none":"block")">@(ViewBag.PageIndex+temp)</a>
                                        </li>
                                     }
                                }
                                @if (ViewBag.PageIndex < ViewBag.TotalPages)
                                {
                                     <li>
                                        <a class="Next" href="@Url.Action("index","Product",new { sizeIds = ViewBag.sizeIds, page=ViewBag.TotalPages,categoryId = ViewBag.CategoryId,colorIds = ViewBag.ColorIds,minPrice=ViewBag.FilterMinPrice, maxPrice=ViewBag.FilterMaxPrice })">
                                         <i class="ion-ios-arrow-right"></i>
                                        </a>
                                       </li>
                                }

                            </ul>
                        </div>
                        <!-- end pagination area -->
                    </div>
                </div>
                <!-- shop main wrapper end -->
            </div>
        </div>
    </div>
    <!-- page main wrapper end -->
</main>
<!-- main wrapper end -->
<!-- Quick view modal start -->
<div class="modal" id="quick_view">
    <div class="modal-dialog modal-lg modal-dialog-centered">
    </div>
</div>
<!-- Quick view modal end -->
@section Script{
    <script>

    $(document).ready(function () {

        var rangeSlider = $(".price-range"),
            amount = $("#amount"),
            minPrice = @Model.MinPrice,
            maxPrice = @Model.MaxPrice;
        rangeSlider.slider({
            range: true,
            min: minPrice,
            max: maxPrice,
            values: [@ViewBag.FilterMinPrice, @ViewBag.FilterMaxPrice],
            slide: function (event, ui) {
                amount.val("$" + ui.values[0] + " - $" + ui.values[1]);
                console.log(ui.values[0] + "-" + ui.values[1])
            },
            change: function (event, ui) {
                $("#minPriceInput").val(ui.values[0]);
                $("#maxPriceInput").val(ui.values[1]);
            }
        });
        amount.val(" $" + rangeSlider.slider("values", 0) +
            " - $" + rangeSlider.slider("values", 1));

    })
    </script>
}